git+git://github.com/avwx-rest/dicttoxml.git@2306cc8fda3d965d543344f4c618605c46f3a345#egg=dicttoxml

avwx-engine>=1.6
dnspython~=2.1
motor~=2.5
pyyaml~=6.0
quart~=0.16
quart-openapi>=1.7.1
voluptuous~=0.12